<style>
.validationMessage {
    color: #f00;
}
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default content">
                    <div class="panel-heading">
                        <span class="pull-left" data-bind="text: displayName"></span>
                        <a class="pull-right" href="../">Voltar</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <legend class="well">
                            User: <strong data-bind="text: errors().length"></strong> errors
                        </legend>
                        <div class="form container-fluid">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" id="form-name">
                                            <label class="control-label">Nome completo*</label>
                                            <input type="text" class="form-control" data-bind="value: name"  placeholder="Nome completo aqui">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" id="form-email">
                                            <label class="control-label" id="label-email" for="input-email">E-mail*</label>
                                            <input type="email" class="form-control" data-bind="value: email"  placeholder="Email aqui">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="form-user">
                                            <label class="control-label" id="label-user" for="input-user">Usuário*</label>
                                            <input type="text" class="form-control" data-bind="value: user" placeholder="Usuário aqui">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" id="form-password" data-toggle="tooltip" data-placement="top" title="A senha deve conter 6 caracteres e pelo menos uma letra maiúscula, uma minúscula e um número.">
                                            <label class="control-label" id="label-password" for="input-password">Senha*</label>
                                            <input type="password" class="form-control" data-bind="value: password"  placeholder="Senha aqui">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="form-password-confirm">
                                            <label class="control-label" id="label-password-confirm" for="input-password-confirm">Confirme a Senha*</label>
                                            <input type="password" class="form-control" data-bind="value: confirmPassword"  placeholder="Redigite a senha aqui">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mrg-t-lg">
                                    </div>
                                    <div class="col-sm-6 mrg-t-lg">
                                        <button type="button" data-bind='click: submit' id="btnSubmit" class="btn btn-lg btn-block btn-primary" data-loading-text="Criando...">Criar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>