<style>
    .validationMessage {
        color: #f00;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default content">
                    <div class="panel-heading">
                        <span class="pull-left" data-bind="text: displayName"></span>
                        <a class="pull-right" href="../">Voltar</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="form">
                            <div id="alert-div" class="alert hidden alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span id="alert-msg"></span>
                            </div>
                            <img id="spinner" class="center-block hidden" src="img/spinner.svg" alt="">
                            <form  id="formLogin">
                                <div class="form-group">
                                    <label for="input-user">E-mail / Usuário*</label>
                                    <input type="text" class="form-control" data-bind="value: user" id="input-user" placeholder="E-mail / Usuário" required>
                                </div>
                                <div class="form-group">
                                    <label for="input-password">Senha*</label>
                                    <input type="password" class="form-control" data-bind="value: password" id="input-password" placeholder="Senha" required>
                                </div>
                                <button type="submit" id="btnDoLogin" data-bind="click: submit" class="btn btn-lg btn-block btn-success">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>