<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary content-index">
                    <div class="panel-heading" data-bind="text:displayName">
                    </div>
                    <div class="panel-body links">
                        <a class="btn btn-success btn-lg btn-block" href="/entrar" role="button">Entrar</a>
                        <a class="btn btn-primary btn-lg btn-block" href="/criarconta" role="button">Criar conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>